
* {

    box-sizing: border-box;
    font-family: "Times New Roman", serif; /* @todo - investigate font */
}

#social-media-links {
    display: flex;
    justify-content: space-around;
}

#social-media-links a {
    padding: 0 1em;
}

.alert-info {
    text-align: center;
    border: 1px solid lightgrey;
    background-color: #ccffff;
    padding: 1em;
}

.alert-info a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

}

li {
    padding: 1em;
    background-color: #cccccc;
    margin-top: 1em;
    margin-bottom: 1em;
}

.header-img img {
    width: 100%;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 880px) {

    body {
        padding: 0 5em;
    }

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        text-align: left;
    }

    nav ul {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        margin-right: 5em;
    }

    nav li {
        background-color: transparent;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .main {
        /*border:1px solid grey;*/
        /*position: absolute;*/
        /*border:1px solid grey;*/
        /*width: 75%;*/
        /*left: 0;*/
        width: 60%;
        margin-right: 1em;
    }

    .sub-section {
        width: 40%;
        padding-right: 2em;
        /*border:1px solid grey;*/
        /*position: absolute;*/
        /*border:1px solid grey;*/
        /*width: 25%;*/
        /*right: 0;*/
    }

    footer {
        display: flex;
        justify-content: space-between;
        /*position: absolute;*/
        /*bottom: 0;*/
    }

    .header-img {
        margin: 2em 0;
    }

}
